i.icon{
font-size: 2em;
}
 .container.form, .main.container{
margin-top: 7em;
margin-bottom: 5em;
 }


.form{

    width: 90%;
 }

 @media (min-width: 768px){

.ui.form{
    width: 65%;
}
   
    
    }

    #delete{
        display: inline;
    }